@import url("linux-libertine-webfont.css");


body {
  font-family: sans-serif;
  max-width: 600px;
  margin: 0px auto;
}

header, main {
  padding: 0px 10px;
}

h1, h2 {
  font-family: 'Linux Libertine','Georgia','Times',serif;
}

h2 {
  font-size: 1.5em;
  font-weight: normal;
  border-bottom: 1px solid grey;
}

h3 {
  font-size: 1.2em;
  font-weight: bold;
}

input, textarea {
  -webkit-appearance: none;
  border-radius: 0;
}

header {
  display: flex;
  align-items: center;
}

header h1 {
  display: inline;
  flex-grow: 1;
}

header .player,
header .room {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

header .player::before {
  content: url('/static/images/user-avatar.svg');
  color: grey;
}

header .room::before {
  content: url('/static/images/room.svg');
}

content {
  padding: 10px;
}

h2 {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

h2 small {
  font-size: 16px;
}

form {
  max-width: 400px;
}

form label, form label+input {
  display: block;
  box-sizing: border-box; /* CSS 3 rec */
  -moz-box-sizing: border-box; /* Firefox 2 */
  -ms-box-sizing: border-box; /* Internet Explorer 8 */
  -webkit-box-sizing: border-box; /* Safari 3 */
  -khtml-box-sizing: border-box; /* Konqueror */

  width: 100%;
  padding: 5px 12px;

  border: 1px solid grey;
}

form label {
  background: lightgrey;
}

form label+input {
  border-top: none;
  font-size: 24px;
}

button,
input[type=button],
input[type=submit] {
  cursor: pointer;

  font-size: 18px;
  
  padding: 5px 12px;

  color: #fff;
  border-style: solid;
  background-color: #36c;
  border-color: #36c;
}

button:hover,
input[type=button]:hover,
input[type=submit]:hover {
  background-color: #447ff5;
  border-color: #447ff5;
}

table {
  background-color: #f8f9fa;
  margin: 1em 0;
  margin-bottom: 20px;
  border: 1px solid grey;
  border-collapse: collapse;
}

table th {
  background-color: lightgrey;
}

table td,
table th {
  border: 1px solid grey;
  padding: 5px;
}

.options {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
}

.options button {
  margin: 5px;
}

details,
summary {
  display: contents;
}

/* Safari 10.1+
   There's a bug that stops summary elements opening
   with display: contents;
*/
@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {
  details,
  summary {
    display: inline;
  }
}
}

details summary::-webkit-details-marker {
  display:none;
}

summary {
  cursor: pointer;
  color: #36c;
  text-decoration: underline;
}

details p {
  font-style: italic;
  margin-top: 10px;
}

ul {
  margin-right: 15px;
}