.timer {
  display: flex;
  flex-wrap: nowrap;

  margin: 10px 0px;

  background-color: darkgrey;
  border-color: #36c;
}

.time {
  white-space: nowrap;
  padding: 5px;

  background-color: #36c;
  color: white;
}