{% extends "base.html" %}

{% block content %}
<main>
  <p>
    Pick the wikipedia article to answer the questions and compete with your friends!
  </p>

  <h2>Join a game</h2>
  <form action="/room">
    <p>
      <label for="room">Room code: </label>
      <input name="room">
    </p>
    <p>
      <label for="name">Name: </label>
      <input name="name">
    </p>
    <input type="submit" value="Join">
  </form>

  <hr>

  <h2>Start a new game</h2>
  <form action="/room">
    <p>
      <label for="name">Name: </label>
      <input name="name">
    </p>
    <input type="submit" value="Start">
  </form>
</main>
{% endblock %}
