<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="/static/timer.js"></script>

<script src="/static/enter_name.js"></script>
<script src="/static/waiting_room.js"></script>
<script src="/static/round_setup.js"></script>
<script src="/static/round.js"></script>
<script src="/static/round_scores.js"></script>
<script src="/static/final_scores.js"></script>

<div id="app">
  <h1>Pickapedia</h1>
  <h2>{{ room }}</h2>
  <div v-if="state == 'loading'">
    Loading...
  </div>
  <div v-if="state == 'enter name'">
    <enter-name v-bind:on-submit="enterName" />
  </div>
  <div v-if="state == 'waiting room'">
    <waiting-room v-bind:players="players" v-bind:button-event="nextRound"/>
  </div>
  <div v-if="state == 'round setup'">
    <round-setup
      v-bind:player-choice="playerChoice"
      v-bind:player="player"
      v-bind:room="room"
    />
  </div>
  <div v-if="state == 'round'">
    <round-answer v-bind:room="room" v-bind:player="player"
      v-bind:round="round"
      v-bind:question="question"
      v-bind:round-time="roundTime"
      v-bind:disambiguation="disambiguation"
      v-bind:submitted="submitted"
      v-bind:invalid-answer="invalidAnswer"
      v-bind:waiting-for="waitingFor"
     />
  </div>
  <div v-if="state == 'round scores'">
    <round-scores
      v-bind:round="round"
      v-bind:question="question"
      v-bind:results="results"
      v-bind:button-event="nextRound"
     />
  </div>
  <div v-if="state == 'final scores'">
    <final-scores
      v-bind:results="results"
      v-bind:button-event="playAgain"
    >
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
var socket = io()

var app = new Vue({
  el: '#app',
  beforeCreate: function() {
    vm = this
    var url = new URL(window.location.href)
    vm.room = url.searchParams.get('room')
    vm.player = url.searchParams.get('name')
    
    if (!vm.player) {
      vm.state = 'enter name'
    } else {
      vm.state = 'loading'
    }

    socket.on('connect', function() {
      vm.join()
    })
    socket.on('new players', function(players) {
      console.log(players)
      vm.players = players
    })
    socket.on('disambiguation', function(disambiguation) {
      vm.submitted = false
      console.log(disambiguation)
      vm.disambiguation = disambiguation
    })
    socket.on('invalid answer', function(invalidAnswer) {
      vm.submitted = false
      console.log(invalidAnswer)
      vm.invalidAnswer = invalidAnswer.message
    })
    socket.on('update state', function(data) {
      console.log(data)
      for (let key in data) {
        vm[key] = data[key]
      }
      vm.$forceUpdate()
    })
  },
  methods: {
    join: function() {
      let vm = this
      if (vm.player && vm.room) {
        socket.emit('join', {
          player: vm.player,
          room: vm.room,
        })
      }
    },
    enterName: function(player) {
      let url = new URL(window.location.href)
      url.searchParams.set('name', player)
      history.replaceState(null, null, "?"+url.searchParams.toString())

      this.player = player
      this.state = 'waiting room'
      this.join()
      this.$forceUpdate()
    },
    nextRound: function() {
      socket.emit('next round', { room: this.room, state: this.state, round: this.round })
    },
    playAgain: function() {
      socket.emit('play again', { room: this.room })
    }
  },
  data: {
    players: [],
    round: 0,
    roundTime: 0,
    question: {
      description: '',
      data: {
      },
    },
    answer: '',
    waitingFor: [],
    disambiguation: null,
    invalidAnswer: null,
    playerChoice: null,
    submitted: false,
    results: {}
  }
})
</script>


<script type="text/javascript" charset="utf-8">
</script>

<style>
  img {
    height: 40vh;
    width: auto;
  }
</style>