{% extends "base.html" %}

{% block title %}room {{ room }}{% endblock %}
{% block header %}{% endblock %}

{% block content %}
<script src="/static/lib/mergeDeep.js"></script>
<script src="/static/lib/js.cookie.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<script src="/static/timer.js"></script>
<link rel="stylesheet" href="/static/css/timer.css">

<script src="/static/enter_name.js"></script>
<script src="/static/waiting_room.js"></script>
<script src="/static/round_setup.js"></script>
<script src="/static/round_answer.js"></script>
<script src="/static/round_scores.js"></script>
<script src="/static/round.js"></script>
<script src="/static/final_scores.js"></script>

<div id="app">
  <header>
    <h1>Pickapedia</h1>
    <span class="player" v-text="player"></span>
    <span class="room" v-text="room"></span>
  </header>

  <aside v-if="inactive" class="modal">
    <div class="modal-content">
      <p>Are you still there? Would you like to rejoin the game?</p>
      <form v-on:submit.prevent>
        <button v-on:click="rejoin()">
          Rejoin
        </button>
      </form>
    </div>
  </aside>

  <main>
    <div v-if="state == 'loading'">
      Loading...
    </div>
    <div v-if="state == 'enter name'">
      <enter-name v-bind:on-submit="enterName" />
    </div>
    <div v-if="state == 'waiting room'">
      <waiting-room
        v-bind:state="state"
        v-bind:room="room"
        v-bind:players="players" />
    </div>
    <div v-if="state == 'round' || state == 'round scores' || state == 'round setup'">
      <round
        v-bind:state="state"
        v-bind:room="room"
        v-bind:player="player"
        v-bind:round="round"
        v-bind:sync-time="syncTime"
        v-on:inactive="disconnectPlayer()"
      />
    </div>
    <div v-if="state == 'final scores'">
      <final-scores
        v-bind:results="results"
        v-bind:button-event="playAgain"
      >
    </div>
  </main>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
var socket = io()

var app = new Vue({
  el: '#app',
  beforeCreate: function() {
    vm = this
    
    let url = new URL(window.location.href)
    let path = url.pathname.split('/')

    vm.room = path[path.length-1]
    vm.player = Cookies.get('player') 
    
    
    if (!vm.player) {
      vm.state = 'enter name'
    } else {
      vm.state = 'loading'
    }

    socket.on('connect', function() {
      vm.join()
    })
    socket.on('new players', function(players) {
      console.log(players)
      vm.players = players
    })
    socket.on('update state', function(data) {
      console.log(data)
      for (let key in data) {
        vm[key] = data[key]
      }
      vm.$forceUpdate()
    })
    socket.on('partial update state', function(data) {
      mergeDeep(vm, data)
      vm.$forceUpdate()
    })
  },
  methods: {
    join: function() {
      let vm = this
      if (vm.player && vm.room) {
        socket.emit('join', {
          player: vm.player,
          room: vm.room,
        })
      }
    },
    rejoin: function() {
      this.inactive = false
      socket.connect({
        player: this.player,
        room: this.room,
      })
    },
    enterName: function(player) {
      Cookies.set('player', player)

      this.player = player
      this.state = 'waiting room'
      this.join()
      this.$forceUpdate()
    },
    playAgain: function() {
      socket.emit('play again', { room: this.room })
    },
    disconnectPlayer: function() {
      this.inactive = true
      socket.emit('leave', {
          player: vm.player,
          room: vm.room,
      })
      socket.disconnect()
    },
  },
  watch: {
    serverTime: function(serverTime) {
      let now = Math.floor(Date.now() / 1000)
      this.syncTime = serverTime - now
    }
  },
  data: function() {
    return {
      serverTime: Math.floor(Date.now() / 1000),
      inactive: false,
      players: [],
      round: {
        number: 0,
        time: 0,
        question: {
          description: '',
          data: {
          },
        },
        waitingFor: [],
        disambiguation: {
          word: '',
          options: [],
        },
        results: {},
      },
    }
  }
})
</script>

<style>
  img {
    height: 40vh;
    width: auto;
  }
</style>
{% endblock %}
